body {
	padding-bottom: 70px;
}

div.jsDivs {
	font-size: 1.5em;
	
}
h1 {
	color: #85548E
}

.raby-img {
	padding-top: 25px;
}

span.bold{
	font-weight: bold;
}

.navbar .navbar-inverse .navbar-brand{
	background-image: none;
}

.navbar-inverse .navbar-brand {
	color: #85548E;
}

.hidden{
	display: none;
}

