body {
	padding-bottom: 70px;
}

div.jsDivs {
	font-size: 1.5em;
	
}
h1 {
	color: #85548E
}

.raby-img {
	opacity: 0.3;
}

.raby-img:hover {
	opacity: 1;
}

#secondDiv:hover {
	
}

span.bold{
	font-weight: bold;
}

.navbar .navbar-inverse .navbar-brand{
	background-image: none;
}

.navbar-inverse .navbar-brand {
	color: #85548E;
}

